<!DOCTYPE html>
<html>

<head>
<link rel="stylesheet/less" type="text/css" href="/views/public/public.less">
<link rel="stylesheet/less" type="text/css" href="/views/public/header.less">
<link rel="stylesheet/less" type="text/css" href="/views/app/style.less">
<script src="/views/public/less.js"></script>
<script src="/views/app/script.js"></script>

<script>
data = <%- JSON.stringify(data.data) %>;
alert(data);
</script>

</head>

<body>
<div id="header">
    <div id="icon-holder"><img id="icon" src="/resources/icons/PDS_icon.svg"></div>
    <div id="title-holder"><div id="title">PRISMS Developer Society</div></div>
    <div id="navigation-bar">
        <a class="navigation-block link" href="/home">HOME</a>
        <a class="navigation-block link current" href="/games">GAMES</a>
        <a class="navigation-block link" href="/about">ABOUT</a>
    </div>
</div>
<div id="contents">
    <div id="game-title">Sample Game</div>
    <div id="game-introduction">
        <div id="game-carousel"><img id="game-img" src="/resources/app/sample_game/carousel/1.jpg"></div>
        <div id="game-info">
            <div class="game-info-item">Authors:
                <a class="tag" href="/games/search/?authors=daniel_cao">Daniel Cao</a>
                <a class="tag" href="/games/search/?authors=steven_lu">Steven Lu</a>
            </div>
            <div class="game-info-item">Tags:
                <a class="tag" href="/games/search/?tags=multiplayer">multiplayer</a>
                <a class="tag" href="/games/search/?tags=platformer">platformer</a>
            </div>
            <div class="game-info-item">Platforms:
                <a href="/games/search/?platforms=Windows10"><img class="platform-img" src="/resources/icons/platforms/Windows10.svg"></a>
                <a href="/games/search/?platforms=MacOS"><img class="platform-img" src="/resources/icons/platforms/MacOS.svg"></a>
                <a href="/games/search/?platforms=Linux"><img class="platform-img" src="/resources/icons/platforms/Linux.svg"></a>
            </div>
            <div class="game-info-item">Released on: 31 Dec 2020</div>
            <div id="game-info-download"><div class="download-button">Download</div>
        </div>
    </div>
    <div id="game-description">
        <h1>Description</h1>
        <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
        <h2>Section Title</h2>
        <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
        <h2>Section Title</h2>
        <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
        <h2>Section Title</h2>
        <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
    </div>
</div>
</body>

</html>
