<!DOCTYPE html>
<html>

<head>
<link rel="stylesheet/less" type="text/css" href="/views/public/public.less">
<link rel="stylesheet/less" type="text/css" href="/views/public/header.less">
<link rel="stylesheet/less" type="text/css" href="/views/app/style.less">
<script src="/views/public/less.js"></script>
<script src="/views/app/script.js"></script>

<script>
data = JSON.parse(`<%- JSON.stringify(data.info) %>`);
numImgs = parseInt("<%- data.numImgs %>");
description = `<%- data.description %>`;
imgId = 0;
isHidden = {"l": true, "r": true};

function rotateCarousel(num) {
    imgId = Math.min(Math.max(imgId + num, 0), numImgs - 1);
    loadGameCarousel(data, imgId, numImgs, isHidden)
}

function addHidden() {
    arrow_left = document.getElementById("game-carousel-arrow-left");
    arrow_right = document.getElementById("game-carousel-arrow-right");
    if (event.relatedTarget != arrow_left && event.relatedTarget != arrow_right) {
        arrow_left.classList.add("hidden");
        isHidden["l"] = true;
        arrow_right.classList.add("hidden");
        isHidden["r"] = true;
    }
}

function removeHidden() {
    arrow_left = document.getElementById("game-carousel-arrow-left");
    arrow_right = document.getElementById("game-carousel-arrow-right");
    arrow_left.classList.remove("hidden");
    isHidden["l"] = false;
    arrow_right.classList.remove("hidden");
    isHidden["r"] = false;
}

function showDropdown(element) {
    dropdown = element.getElementsByClassName("download-dropdown-contents")[0];
    download_button = element.getElementsByClassName("download-button")[0];
    targetHeight = parseFloat(getComputedStyle(download_button).height) * data["platforms"].length;
    dropdown.style.height = targetHeight + "px";
}

function hideDropdown(element) {
    dropdown = element.getElementsByClassName("download-dropdown-contents")[0];
    dropdown.style.height = "0px";
}

window.onload = () => {
    loadGameCarousel(data, imgId, numImgs, isHidden);
    loadGameInfo(data);
    loadGameDescription(description);
}
</script>

</head>

<body>
<div id="header">
    <div id="icon-holder"><img id="icon" src="/resources/icons/PDS_icon.svg"></div>
    <div id="title-holder"><div id="title">PRISMS Developer Society</div></div>
    <div id="navigation-bar">
        <a class="navigation-block link" href="/home">HOME</a>
        <a class="navigation-block link current" href="/games">GAMES</a>
        <a class="navigation-block link" href="/about">ABOUT</a>
    </div>
</div>
<div id="contents">
    <div id="game-title">Sample Game</div>
    <div id="game-introduction">
        <div id="game-carousel"></div>
        <div id="game-info"></div>
    </div>
    <div id="game-description"></div>
</div>
</body>

</html>
