<!DOCTYPE html>
<html>

<head>
<link rel="stylesheet/less" type="text/css" href="/views/public/public.less">
<link rel="stylesheet/less" type="text/css" href="/views/public/header.less">
<link rel="stylesheet/less" type="text/css" href="/views/games/style.less">
<script src="https://cdn.jsdelivr.net/npm/less"></script>
<script src="/views/games/script.js"></script>
</head>

<body>
<div id="header">
    <div id="icon-holder"><img id="icon" src="/resources/icons/PDS_icon.svg"></div>
    <div id="title-holder"><div id="title">PRISMS Developer Society</div></div>
    <div id="navigation-bar">
        <a class="navigation-block link" href="/home">HOME</a>
        <a class="navigation-block link current" href="/games">GAMES</a>
        <a class="navigation-block link" href="/about">ABOUT</a>
    </div>
</div>
<div id="contents">
    <div id="game-list">
    </div>
</div>
</body>

</html>
