<!DOCTYPE html>
<html>

<head>
<link rel="stylesheet/less" type="text/css" href="/views/public/public.less">
<link rel="stylesheet/less" type="text/css" href="/views/public/header.less">
<link rel="stylesheet/less" type="text/css" href="/views/games/style.less">
<script src="//cdn.jsdelivr.net/npm/less"></script>
</head>

<body>
<div id="header">
    <div id="icon-holder"><img id="icon" src="/resources/icons/dark-hollow.jpg"></div>
    <div id="title-holder"><div id="title">PRISMS Developer Society</div></div>
    <div id="navigation-bar">
        <a class="navigation-block link" href="/home">HOME</a>
        <a class="navigation-block link" href="/games">GAMES</a>
        <a class="navigation-block link" href="/about">ABOUT</a>
    </div>
</div>
<div id="contents">
    <div id="game-list">
        <div class="game-block">
            <a href="/games/app/Sample_Game">
                <img class="game-img" src="https://via.placeholder.com/300x400/3cb371?text=placeholder.com">
            </a>
            <div class="game-info">
                <div class="game-info-name"><a class="link" href="/games/app/Sample_Game">Sample Game</a></div>
                <div class="game-info-item">Authors:
                    <a class="tag" href="/games/search/?authors=Daniel_Cao">Daniel Cao</a>
                    <a class="tag" href="/games/search/?authors=Steven_Lu">Steven Lu</a>
                </div>
                <div class="game-info-item">Tags:
                    <a class="tag" href="/games/search/?tags=Daniel_Cao">multiplayer</a>
                    <a class="tag" href="/games/search/?tags=Steven_Lu">platformer</a>
                </div>
                <div class="game-info-item">Platforms:
                    <a class="tag" href="/games/search/?platforms=Windows10">Windows10</a>
                    <a class="tag" href="/games/search/?platforms=MacOS">MacOS</a>
                    <a class="tag" href="/games/search/?platforms=Linux">Linux</a>
                </div>
                <div class="game-info-item">Released on: 31 Dec 2020</div>
            </div>
        </div>
        <div class="game-block">
            <a href="/games/app/Sample_Game">
                <img class="game-img" src="https://via.placeholder.com/300x400/3cb371?text=placeholder.com">
            </a>
            <div class="game-info">
                <div class="game-info-name"><a class="link" href="/games/app/Sample_Game">Sample Game</a></div>
                <div class="game-info-item">Authors:
                    <a class="tag" href="/games/search/?authors=Daniel_Cao">Daniel Cao</a>
                    <a class="tag" href="/games/search/?authors=Steven_Lu">Steven Lu</a>
                </div>
                <div class="game-info-item">Tags:
                    <a class="tag" href="/games/search/?tags=Daniel_Cao">multiplayer</a>
                    <a class="tag" href="/games/search/?tags=Steven_Lu">platformer</a>
                </div>
                <div class="game-info-item">Platforms:
                    <a class="tag" href="/games/search/?platforms=Windows10">Windows10</a>
                    <a class="tag" href="/games/search/?platforms=MacOS">MacOS</a>
                    <a class="tag" href="/games/search/?platforms=Linux">Linux</a>
                </div>
                <div class="game-info-item">Released on: 31 Dec 2020</div>
            </div>
        </div>
        <div class="game-block">
            <a href="/games/app/Sample_Game">
                <img class="game-img" src="https://via.placeholder.com/300x400/3cb371?text=placeholder.com">
            </a>
            <div class="game-info">
                <div class="game-info-name"><a class="link" href="/games/app/Sample_Game">Sample Game</a></div>
                <div class="game-info-item">Authors:
                    <a class="tag" href="/games/search/?authors=Daniel_Cao">Daniel Cao</a>
                    <a class="tag" href="/games/search/?authors=Steven_Lu">Steven Lu</a>
                </div>
                <div class="game-info-item">Tags:
                    <a class="tag" href="/games/search/?tags=Daniel_Cao">multiplayer</a>
                    <a class="tag" href="/games/search/?tags=Steven_Lu">platformer</a>
                </div>
                <div class="game-info-item">Platforms:
                    <a class="tag" href="/games/search/?platforms=Windows10">Windows10</a>
                    <a class="tag" href="/games/search/?platforms=MacOS">MacOS</a>
                    <a class="tag" href="/games/search/?platforms=Linux">Linux</a>
                </div>
                <div class="game-info-item">Released on: 31 Dec 2020</div>
            </div>
        </div>
    </table>
</div>
</body>

</html>
