<!DOCTYPE html>
<html>

<head>
<link rel="stylesheet/less" type="text/css" href="/views/public/public.less">
<link rel="stylesheet/less" type="text/css" href="/views/public/header.less">
<link rel="stylesheet" type="text/css" href="/views/games/style.css">
<script src="//cdn.jsdelivr.net/npm/less"></script>
</head>

<body>
<div id="header">
    <div id="icon-holder"><img id="icon" src="/resources/icons/dark-hollow.jpg"></div>
    <div id="title-holder"><div id="title">PRISMS Developer Society</div></div>
    <div id="navigation-bar">
        <a id="navigation-block" href="/home">HOME</a>
        <a id="navigation-block" href="/games">GAMES</a>
        <a id="navigation-block" href="/about">ABOUT</a>
    </div>
</div>
<div id="contents">
    <div id="intro">
    </div>
</div>
</body>

</html>
